/*header*/
header {
  background-color: grey;
  box-shadow: 0px 3px 5px 3px rgb(63, 63, 63);
}

.imgLogo {
  width: 80px;
}

.caixaNavPrincipal {
  display: flex;
  position: relative;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navPrincipal ul {
  position: relative;
  top: 40%;
}

.itensNavPrincipal {
  display: inline;
  margin: 0 0 0 15px;
}

.navPrincipal a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.navPrincipal a:hover {
  color: whitesmoke;
  font-weight: bolder;
}

/*footer*/
footer {
  text-align: center;
  background: url("../media/bg.jpg");
  padding-bottom: 20px;
  margin-top: 20px;
}

.copyright {
  color: white;
  font-size: 17px;
}

.logoBranco {
  height: 100px;
}

@media screen and (max-width: 480px) {
  .caixaNavPrincipal {
    width: 100%;
  }
  .itensNavPrincipal {
    display: block;
  }
  .navPrincipal ul {
    margin: 20% 0;
    top: 0;
    right: 20px;
  }
}