body {
  background: linear-gradient(#FEFEFE 65%, #888888);
}

/*main*/
main {
  font-family: 'Montserrat', sans-serif;
}

.listaProdutos {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0px;
}

.listaProdutos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listaProdutos li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 290px;
  vertical-align: top;
  margin: 3% 3%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.4s all;
}

.listaProdutos li:hover {
  border-color: rgb(153, 72, 144);
  transform: scale(1.1);
}

.listaProdutos li:active {
  border-color: blueviolet;
}

.listaProdutos h2 {
  font-size: 30px;
  font-weight: bold;
}

.descProdutos {
  font-size: 18px;
  padding: 0px 20px;
}

.precoProdutos {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .listaProdutos li {
    margin: 5% 3%;
  }
  body {
    background: linear-gradient(#FEFEFE 90%, #888888);
  }
}