/*main*/
.imgBanner {
  position: relative;
  width: 50%;
}

.caixaPrincipal {
  display: flex;
  background-color: rgb(177, 176, 176);
}

.principal {
  position: relative;
  padding: 30px;
  font-size: 20px;
  top: 50%;
}

.principal strong {
  font-weight: bold;
}

.principal h2 {
  font-size: 30px;
  font-weight: bold;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

.missao {
  font-size: 25px;
  font-style: italic;
}

.missao strong {
  color: rgb(165, 40, 40);
  font-weight: bold;
}

.beneficios {
  background-color: white;
  padding: 20px;
}

.beneficios h3 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.beneficios ul {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: auto 13%;
}

.itens {
  font-style: italic;
  font-size: 23px;
  margin: 20px 0;
}

.imgBeneficios {
  width: 30%;
}