body {}

#banner {
    width: 100%;
}

.principal {
    background-color: rgb(196, 196, 196);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
    font-style: italic;
}

#missao strong {
    color: rgb(165, 40, 40);
}

.beneficios {
    background-color: white;
}

h2 {
    text-align: center;
}

.itens {
    font-style: italic;
}

#beneficios {
    width: 100%;
}